@charset "utf-8";
/* CSS Document */
*{ margin:0px;	padding:0px;box-sizing: border-box;}
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-style:normal;}
a { text-decoration:none; outline:none !important;}
img { border:0px; outline:none; display:block;}
ul{ list-style:none; margin:0px;}
li{list-style-type:none;}
.clr{clear:both;}
.container{ width:100%; max-width:1280px;}
.no-padding {padding: 0;}
html {overflow-x: hidden;max-width: 100%;}
body{font-family: 'CenturyGothic'; -webkit-font-smoothing: subpixel-antialiased; -webkit-text-stroke: 1px transparent;overflow-x: hidden;width: 100%;}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic/CenturyGothic.ttf')  format('truetype'),
  url('../fonts/CenturyGothic/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff') format('woff'),
  url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf')  format('truetype'),
  url('../fonts/CenturyGothic-Bold/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.header{width:100%;}
.header-logo{width:100%;padding:20px 0;}
div#qaulity-nav{width:100%;background-color:#386a8c;color:#fff;}
div#qaulity-nav nav.navbar{padding:0;}
.header-logo ul li a{font-size:16px;color:#fff;}
.innerpop-up-text.mythird-item > p{display:none;}
.innerpop-up-text.mythird-item div#datePicker_section{display:none !important;}
.header-logo ul li{width:30px;height:30px;display:flex;justify-content:center;align-items:center;margin:0 6px 0 0;border-radius:100%;}
div#qaulity-nav div#collapsibleNavbar{justify-content:flex-end;}
.header-logo ul li.wq-facebook{background-color:#29526d;transition:all 0.2s;cursor:pointer;}
.header-logo ul li.wq-facebook:hover{background:#466b84;transition:all 0.2s;}
.header-logo ul li.wq-twitter{background-color:#67b1d8;transition:all 0.2s;cursor:pointer;}
.header-logo ul li.wq-twitter:hover{background:#3897ca;transition:all 0.2s;}
div#qaulity-nav ul.navbar-nav li a{color:#fff;font-size:16px;text-transform:uppercase;padding:13px 16px;margin-left:2px;border-bottom:4px solid transparent;transition:all 0.2s;}
div#qaulity-nav ul.navbar-nav li.active a{background:rgba(108, 153, 186, 0.6);border-bottom:4px solid #e68739;transition:all 0.2s;}
div#qaulity-nav ul.navbar-nav li a:hover{background:rgba(108, 153, 186, 0.6);border-bottom:4px solid #e68739;transition:all 0.2s;}
.header-logo ul li.wq-youtube{background-color:#76241f;transition:all 0.2s;cursor:pointer;}
.header-logo ul li.wq-youtube:hover{background-color:##a55d59;transition:all 0.2s;cursor:pointer;}
.header-logo ul li.wq-instagram{background-color:#da2c74;transition:all 0.2s;cursor:pointer;}
.header-logo ul li.wq-instagram:hover{background-color:#bd5580;transition:all 0.2s;cursor:pointer;}
.about-us-section{width:100%;background:#edf4f7;padding:40px 0;}
.about-us-section h4{font-weight:900;text-transform:uppercase;margin-bottom:20px;font-family:CenturyGothic-Bold;color:#333;}
.about-us-section p{font-size:20px;color:#4f5151;margin-bottom:15px;}
.myrow-select select{background:#f2f2f2;}
.myrow-date input{background:#f2f2f2;}
.about-us-section span{font-size:20px;color:#4f5151;margin-bottom:15px;}
.footer{width:100%;background-color:#173750;color:#fff;text-align:center;padding:40px 0 30px;}
li.seal-green img{width:80px;height:72px;}
li.charity img{margin-left:10px;max-width:100%;vertical-align:middle;width:125px;}
.footer-brand p a{color:#fff;}
li.four-star img{margin-left:10px;vertical-align:middle;}
.footer-brand p{font-size:16px;margin-bottom:4px;}
.footer-brand p:last-child{margin-bottom:0;}
.import-aboutus img{width:100%;max-width:100%;height:600px;object-fit:cover;object-position:center;margin-top: 10px;}
.about-us-section span a{color:#537b98;text-decoration:none;font-family:CenturyGothic-Bold;word-break: break-all;}
.downloadtable-list .table tr th{background:#386a8b;color:#fff;font-weight:300;text-transform:uppercase;padding:20px 14px;}
.downloadtable-list{width:100%;float:left;}
.downloadtable-list.table-responsive table tbody tr:nth-child(odd){background:#e4edf3;}
.downloadtable-list.table-responsive table tbody tr:nth-child(even){background:#d5e2eb;}
.downloadtable-list.table-responsive table tbody tr td, .downloadtable-list.table-responsive table thead tr th{border-right:1px solid #f0f5f8;font-size:18px;}
.downloadtable-list.table-responsive table tbody tr td:last-child{border:0;}
.downloadtable-list.table-responsive table tbody tr td a{width:35px;height:33px;background:#1abc9c;display:inline-block;text-align:center;padding:2px 0;color:#fff;border-radius:4px;}
.downloadtable-fliter{width:100%;padding:35px 0;}
.downloadtable-fliter button{width:230px;transition:all 0.2s;background:#80b25f;color:#fff;outline:none !important;transition:all 0.2s;}
.myrow-select{cursor:pointer;width:250px;}
.downloadtable-fliter button:hover{background:#92c173;transition:all 0.2s;}
.myrow-select{cursor:pointer;width:250px;position:relative;}
.myrow-select::after{position:absolute;content:"\f0d7";font-family:fontAwesome;right:8px;top:6px;font-size:22px;color:#dddddd;}
.myrow-date .myrow-from{position:relative;display:flex;}
.myrow-date .myrow-from i{position:absolute;right:22px;font-size:22px;top:11px;color:#333;}
.myrow-select select:focus{box-shadow:none !important;}
.myrow-select select{-webkit-appearance:none;appearance:none;outline:none !important;}
 .fundament-statements{width:100%;padding:40px 0;text-align:center;}
.myrow-date .myrow-from span.input-group-append{display:none;}
.myrow-date .myrow-from input:focus{background:transparent;box-shadow:none !important;}
.viewwater-qality{width:100%;background:#edf4f7;padding:25px 0;}
.water-cards{background:#fff;width:100%;margin-bottom:30px;display:inline-block;padding:20px;border-radius:4px;}
.fundament-statements h4{color:#404040;padding-bottom:14px;font-family:CenturyGothic-Bold;}
.fundament-maintain p{color:#757575;font-size:16px;}
.footer-brand > ul{margin-bottom:10px;}
.fundament-maintain span{color:#757575;font-size:16px;margin-bottom:24px;}
.fundament-maintain img{margin-bottom:20px;}
.fundament-maint-subment img{margin-right:20px;}
.myrow-date button{height:47px;border:0;background:#6c99ba !important;border-radius:7px;width:150px;cursor:pointer;}
.myrow-date input{width:160px;height:47px;border-radius:4px !important;border:1px solid #ccc;padding:10px;margin-right:15px;}
.myrow-date label{padding-right:10px;display:flex;align-items:center;}
.myrow-select select{height:47px !important;cursor:pointer;}
.water-cards h4{color:#386a8c;font-size:22px;text-transform:uppercase;margin-bottom:24px;}
.myview-quality-half{width:50%;float:left;margin-bottom:24px;}
.myview-quality-half label{width:43%;float:left;color:#848484;margin:0;}
.myview-quality-full{width:100%;float:left;margin-bottom:24px;}
.myview-quality-qaul{width:33.33%;float:left;margin-bottom:24px;}
.myview-quality-qaul label{width:63%;float:left;color:#848484;margin:0;}
.myview-quality-full label{width:21.5%;float:left;color:#848484;margin:0;}
.myview-quality-qaul p{width:37%;float:left;color:#333333;margin:0;}
.btn-green:hover{background:#6eab45;transition:all 0.2s;}
.btn-green{background:#80b25f;transition:all 0.2s;color:#fff !important;border:0;width:170px;height:43px;display:flex;justify-content:center;align-items:center;border-radius:4px;margin-right:15px;cursor:pointer;outline:none !important;text-transform:uppercase;}
.btn-grey:hover{background:#656e6f;transition:all 0.2s;}
.btn-grey{transition:all 0.2s;background:#7f8c8d;color:#fff !important;width:140px;height:43px;border:0;border-radius:4px;display:flex;justify-content:center;align-items:center;cursor:pointer;outline:none !important;text-transform:uppercase;}
.myview-quality-full p{width:78.5%;float:left;color:#333333;margin:0;}
.myview-quality-half p{width:57%;color:#333333;float:left;margin:0;}
div#donutchart > div > div{margin:auto;}
#curve_chart > div > div{margin:auto;}
button.btn-blue{color:#fff;background:#33698d;border:0;width:100px;height:40px;border-radius:7px;cursor:pointer;outline:none !important;}
 /*map-screen*/
 #map{min-height:678px;margin-top:10px;}
.map-markers .grn-box::before{content:'';background:#7fb35f;padding:7px 17px;margin-right:15px;}
.map-markers .mrn-box::before{content:'';background:#cb6877;padding:7px 17px;margin-right:15px;}
.map-markers .grn-box{margin-right:70px;}
.map-markers span{color:#626262;font-size:16.72px;}
.map-markers{padding:22px;}
div#qaulity-nav span.navbar-toggler-icon img{height:30px;width:30px;border:1px solid #fff;border-radius:4px;padding:3px;}
div#qaulity-nav nav.navbar.navbar-expand-md button.navbar-toggler:focus{outline:0;border-color:transparent;}
div#qaulity-nav nav.navbar.navbar-expand-md button.navbar-toggler{margin-left:auto;}
/*pop-up*/
.pop-up-map{width:100%;max-width:100%;border-radius:4px;/*padding:0px 40px 30px 40px;*/
 border:0.5px solid grey;margin:auto;}
.mymodal-googlepix .modal-dialog{max-width:80%;}
.pop-up-map .pop-up-text h2{background:#33698d;width:100%;border-radius:4px;padding:12px;color:#ffffff;text-align:center;font-size:26px;}
.pop-up-text{width:100%;}
.innerpop-up-text{padding:15px 40px 30px 40px;}
.pop-up-map .innerpop-up-text p{background:#ececec;padding:15px;font-size:16px;color:#33698d;margin-bottom:22px;}
.chart-tab .tab-contents h5{color:#6f6f6f;font-size:16px;margin-top:13px;margin-right:10px;margin-left:20px;}
.chart-tab .tab-contents .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color:#33698d;border-color:#dee2e6 #dee2e6 #fff;padding:5px 5px;}
.chart-tab .tab-contents .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link img{height:34px;width:34px;}
.chart-tab .tab-contents .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{background-color:#c8c8c8;border-color:#dee2e6 #dee2e6 #fff;padding:5px 5px;margin-right:15px;border-radius:4px;}
.chart-tab .tab-contents .nav-tabs .nav-item.show .nav-link, .nav-tabs{border-bottom:none!important;}
div#datePicker_section{margin:auto;}
#datePicker_section span.input-group-append{display:none;}
#datePicker_section input#datepicker1{margin-right:6px!important;}
div#datePicker_section .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group input{width:130px;background:#ececec;color:#383838;margin-right:12px;font-weight:600;border-radius:4px;}
#datePicker_section label{margin-right:8px;font-size:17px;}
#datePicker_section button.btn.btn-primary{background:#386a8c;border:none;width:100px;padding:8px 0px;}
 .date_pages.selections{margin-left:auto;}
.date_pages.selections select.form-control{ font-weight:600;cursor:pointer;background:#f2f2f2;color:#3a3a3a;width:191px;}
/* .date_pages.selections:after{content:"\f0d7";position:absolute;right:12px;color:#cecece;font-family:fontAwesome;} */
.date_pages.selections{position:relative;}
#datePicker_section button.btn.btn-primary:focus,.form-control:focus{border-color:#ccc!important;outline:none!important;box-shadow:none;}
#area-chart,#line-chart,#bar-chart,#stacked,#pie-chart{min-height:250px;}
div#menu2 h1{font-size:19px;color:#ffffff;background:#386a8c;padding:15px;margin-bottom:0px;font-weight:600;}
.site_data .rht_move{margin-right:-1px;}
ul.site_data_cont label{color:#939799;font-size:14px;padding-left:15px;width:100%;}
.site_data_cont span{color:#343434;font-size:14px;font-weight:600;margin-right:auto;width:100%;}
.site_data_cont span.dec-width{width:100%;line-height:18px;font-size:14px;}
.chart-tab .tab-contents .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link i{color:#ffffff;font-size:28px;}
 .site_data_cont{border:1px solid #cccccc;}
 .site_data_cont li{border-bottom:1px solid #cccccc;padding:6px;}
 .site_data_cont li:last-child{border-bottom:0px;line-height:1.6;}
#menu2{padding:0px!important;}
.mymap-googlepix{width:100%;height:600px;background:#edf4f7;position:relative;padding-top:10px;}
#map_canvas{width:100%;height:100%;}
.waterpagination{width:100%;display:flex;padding:20px 0 35px;}
.waterpagination ul li{margin-left:10px;}
.waterpagination ul{width:100%;}
.waterpagination ul li.active a{background:#386a8b;color:#fff;border-color:#386a8b;}
.waterpagination ul li:hover a{background:#386a8b;color:#fff;border-color:#386a8b;}
.waterpagination ul li a{border-radius:4px;border:1px solid #d1d5da;padding:4px 10px;color:#3a4959;text-decoration:none;cursor:pointer;}
.yeru-map-markers {
    width: 100%;
    float: left;
    padding: 30px;
    text-align: center;
}
.yeru-map-markers div.mygreen-box::before {
    background-color: #7fb360;
}
.yeru-map-markers  div {
    display: inline-block;
    padding-left: 45px;
    position: relative;
	    margin-left: 20px;
}
.yeru-map-markers div::before {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #ca6877;
    content: "";
    left: 3px;
    top: -3px;
}



